<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Flight Name</label>
                    <input type="text" name="flight_name" [(ngModel)]="flight_name" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="readValues()" >Search</button>
                </div>
                <div *ngFor="let i of flightData" class="">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="label-control">Flight Name</label>
                        <input type="text" name="" id="" class="form-control" value="{{i.flight_name}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="label-control">Origin</label>
                        <input type="text" name="" id="" class="form-control" value="{{i.origin}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="label-control">Destination</label>
                        <input type="text" name="" id="" class="form-control" value="{{i.dest}}">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="label-control">Capacity</label>
                        <input type="text" name="" id="" class="form-control" value="{{i.capacity}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
